.anonymous-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
}

.login-button {
    view-transition-name: login-button;
}

.register-button {
    view-transition-name: register-button;
}

form {
    margin-block-end: 0.5rem;
}