.anonymous-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
}

.anonymous-container-link {
    border: 1px solid black;
    padding: 1rem 2rem;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    margin-block-end: 0.5rem;
}