form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.registration-container {
    border: var(--container-border-width) solid black;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 30rem;
    width: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin-block-start: 1rem;
    view-transition-name: register-button;
}
