h1 {
    margin: 0;
    view-transition-name: thread-name;
    word-break: break-word;
}

.new-participant-form {
    display: flex;
    flex-direction: column;
}

.message-form {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    margin-block: 1rem;
}

.private-participant-row {
    display: grid;
    grid-template-columns: 1fr auto;
}

.private-participant-list {
    padding: 0;
}

.message-inputs-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-metadata-container {
    display: flex;
    gap: 0.3rem;
    color: #4e4e4e;
    font-size: 0.8rem;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 1rem;
}

.message-content {
    word-break: break-word;
    margin: 0;
}

.new-participant-inputs-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

.private-participants-container {
    margin-block-start: 0.5rem;
}

.errors-container {
    margin-block-start: 0.5rem;
}