{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block pagename %}index{% endblock %}
{% block content %}
{% if username %}
<div>
    <h1>Keskustelusovellus</h1>
    <p>Tervetuloa, {{ username }}</p>
    <form method="post" action="/logout">
        <input class="secondary-button compact-button" type="submit" value="Kirjaudu ulos" />
    </form>
    <a href="/topics">Selaa aihepiirejä</a>
    <h2>Seuratut ketjut</h2>
    {% if active_threads|length > 0 %}
    <ul>
        {% for thread in active_threads %}
        <li>
            <a href="/threads/{{ thread.id }}">{{ thread.title }} (<b>{{ thread.count }} {{ "uusi viesti" if
                    thread.count == 1 else "uutta viestiä" }}</b>)</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Ei uusia viestejä</p>
</div>
{% endif %}
{% else %}
<div class="anonymous-container">
    <h1>Keskustelusovellus</h1>
    <a class="login-button primary-button" href="/login">Kirjaudu</a>
    <a class="register-button secondary-button" href="/register">Rekisteröidy</a>
</div>
{% endif %}
{% endblock %}