{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block pagename %}index{% endblock %}
{% block content %}
{% if username %}
<div>
    <p>Tervetuloa takaisin, {{ username }}</p>
    <form method="post" action="/logout">
        <input type="submit" value="Kirjaudu ulos" />
    </form>
    <a href="/topics">Selaa aihepiirejä</a>
    {% if active_threads|length > 0 %}
    <ul>
        {% for thread in active_threads %}
        <li>
            <a href="/threads/{{ thread.id }}">{{ thread.title }} (<b>{{ thread.count }} {{ "uusi viesti" if
                    thread.count == 1 else "uutta viestiä" }}</b>)</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% else %}
<div class="anonymous-container">
    <h1>Keskustelusovellus</h1>
    <a class="anonymous-container-link" href="/login">Kirjaudu</a>
    <a class="anonymous-container-link" href="/register">Rekisteröidy</a>
</div>
{% endif %}
{% endblock %}