<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if username %}
    <p>Tervetuloa takaisin, {{ username }}</p>
    <form method="post" action="/logout">
        <input type="submit" value="Kirjaudu ulos" />
    </form>
    <a href="/topics">Selaa aihepiirejä</a>
    {% if active_threads|length > 0 %}
    <ul>
        {% for thread in active_threads %}
        <li>
            <a href="/threads/{{ thread.id }}">{{ thread.title }} (<b>{{ thread.count }} {{ "uusi viesti" if thread.count == 1 else "uutta viestiä" }}</b>)</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <a href="/login">Kirjaudu</a>
    <a href="/register">Rekisteröidy</a>
    {% endif %}
</body>
</html>