{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block pagename %}login{% endblock %}
{% block content %}
<div class="login-container">
    <h1>Kirjaudu</h1>
    <form method="post" action="/login">
        <div class="form-field">
            <label for="username-input">Käyttäjänimi</label>
            <input id="username-input" name="username" required />
        </div>
        <div class="form-field">
            <label for="password-input">Salasana</label>
            <input id="password-input" name="password" type="password" required />
        </div>
        {% if errors and errors|length > 0 %}
        <div class="errors-container">
            <p>Kirjautuminen epäonnistui:</p>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <input class="submit-button" type="submit" value="Kirjaudu" />
        <p>Ei vielä käyttäjää? <a href="/register">Luo käyttäjä</a></p>
    </form>
</div>
{% endblock %}