{% extends "layout.html" %}
{% block title %}Uusi ketju aiheeseen {{ topic.name }}{% endblock %}
{% block pagename %}new_thread{% endblock %}
{% block content %}
<div class="container">
    <h1>Uusi ketju aiheeseen {{ topic.name }}</h1>
    <form action="/topics/{{ topic.slug }}/new-thread" method="post">
        <label for="title">Otsikko</label>
        <input id="title" type="text" autocomplete="off" name="title" required minlength="1" maxlength="100" />
        <label for="private">Yksityinen</label>
        <input id="private" type="checkbox" name="private" />
        <label for="message">Viesti</label>
        <textarea id="message" name="message" required minlength="1" maxlength="500"></textarea>
        <input type="submit" value="Luo ketju" class="submit-button primary-button" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{% endblock %}