{% extends "layout.html" %}
{% block title %}Uusi aihepiiri{% endblock %}
{% block pagename %}new_topic{% endblock %}
{% block content %}
<a href="/">Etusivu</a>
<div class="container">
    <h1>Luo uusi aihepiiri</h1>
    <form action="/new-topic" method="post">
        <label for="name">Nimi</label>
        <input id="name" type="text" name="name" minlength="1" maxlength="100"
            pattern="^[a-zA-Z0-9öåäÖÅÄ]+(?: [a-zA-Z0-9öåäÖÅÄ]+)*$" required autocomplete="off"
            placeholder="Star Wars, seinäkiipeily, ruuanlaitto..." />
        <label for="description">Kuvaus</label>
        <textarea id="description" name="description" maxlength="500"></textarea>
        <input type="submit" value="Luo" class="submit-button" />
    </form>
    {% if errors and errors|length > 0 %}
    <div>
        <p>Aihepiiriä ei voitu luoda seuraavien virheiden vuoksi:</p>
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}