{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block pagename %}register{% endblock %}
{% block content %}
<div class="registration-container">
    <h1>Rekisteröidy</h1>
    <form method="post" action="/register">
        <div class="form-field">
            <label for="username-input">Käyttäjänimi</label>
            <input id="username-input" name="username" pattern="^[a-zA-Z0-9]{1,32}$" required />
        </div>
        <div class="form-field">
            <label for="password-input">Salasana</label>
            <input id="password-input" name="password" type="password" minlength="16" maxlength="64" required />
        </div>
        <div class="form-field">
            <label for="password-confirm-input">Kirjoita salasana uudelleen</label>
            <input id="password-confirm-input" name="password-confirm" type="password" minlength="16" maxlength="64" required />
        </div>
        {% if errors and errors|length > 0 %}
        <div class="errors-container">
            <p>Rekisteröityminen epäonnistui:</p>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <input class="submit-button primary-button" type="submit" value="Rekisteröidy" />
        <p>Onko sinulla jo käyttäjä? <a href="/login">Kirjaudu</a></p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{% endblock %}