{% extends "layout.html" %}
{% block title %}Aihepiirit{% endblock %}
{% block pagename %}topics{% endblock %}
{% block content %}
<div class="link-container">
    <a href="/">Etusivu</a>
</div>
<div class="page-container">
    <h1>Aihepiirit</h1>
    <a class="primary-button" href="/new-topic">
        <img src="/static/plus_white.svg" width="16" height="16" />
        Luo uusi aihepiiri
    </a>
    {% if topics|length > 0 %}
    <ul>
        {% for topic in topics %}
        <li>
            <a href="/topics/{{ topic.slug }}" class="topics-list-item">{{ topic.name }} ({{ topic.count }} {{ "ketju"
                if topic.count == 1
                else "ketjua" }})</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Ei aihepiirejä</p>
    {% endif %}
</div>
{% endblock %}