<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
</head>

<body>
    <a href="/">Front page</a>
    <a href="/topics">Topics</a>
    <h1>{{ topic.name }}</h1>
    {% if topic.description and topic.description|length > 0 %}
    <p>{{ topic.description }}</p>
    {% endif %}
    <a href="/topics/{{ topic.slug }}/new-thread">Create new thread</a>
    {% if threads|length > 0 %}
    <h2>Threads</h2>
    <ul>
        {% for thread in threads %}
        <li>
            <a href="/threads/{{ thread.id }}">{{ thread.title }} ({{ thread.count }} {{ "message" if thread.count == 1 else "messages" }})</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No threads yet</p>
    {% endif %}
</body>

</html>